.tarjeta_text {
    color: #907E82;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 166%;
    /* 23.24px */
    letter-spacing: 0.56px;
}

.tarjeta {
    border-radius: 24px;
    background: #FFF;
    box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
    width: 368px;
    height: 538px;
    position: relative;
    left: 20px;



}


.sub-tarjeta {
    position: relative;
    top: 32px;
    left: 20px;
    // gap: 8px;
    // display: flex;
    // flex-direction: column;

}

@media screen and (max-width: 320px) {
    .tarjeta {
        font-size: 12px;
        // border: 2px solid red;
        width: 280px;
        height: 480px;
        text-align: start;
        position: relative;

    }

    .button {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 186%;
        /* 22.32px */
        letter-spacing: 0.48px;
    }





}

@media screen and (max-width: 768px) and (min-width: 321px) {
    .tarjeta {
        font-size: 14px;
        // border: 2px solid green;
        width: 224px;
        height: 528px;
    }

    .dimension {
        width: 160px;
    }
}

@media screen and (min-width: 769px) {
    .tarjeta {
        font-size: 16px;
        // border: 2px solid blue;
        width: 368px;
        height: 538px;
    }

    .sub-tarjeta {
        left: 40px;
        gap: 8px;
        display: flex;
        flex-direction: column;
    }

    .dimension {
        width: 288px;
    }

}

.tarjeta_button--schedule {}