.images-helado {
    position: relative;
    bottom: 120px;
}

.cont-img_3--text {
    position: relative;
    bottom: 100px;
    //  /* border: solid 1px red;                                    
}

// --------------------phone----------------------------------
@media screen and (min-width: 320px) {
    .images-helado {
        width: 280px;
        height: 280px;
        text-align: center;
    }
}


// --------------------table----------------------------------



@media screen and ((max-width: 768px) and (min-width: 321px)) {
    .images-helado {

        width: 224px;
        height: 224px;
        text-align: center;
    }


}

// ----------------------------computer-----------------------------------
@media screen and (min-width: 769px) {
    .images-helado {
        width: 368px;
        height: 394px;
        // border: 2px solid red;
        position: relative;
        bottom: 200px;
    }
}